apiVersion: redhatcop.redhat.io/v1alpha1
kind: VaultSecret
metadata:
  name: matomo-mariadb-sync
  namespace: matomo
spec:
  refreshPeriod: 1h
  vaultSecretDefinitions:
    - authentication:
        path: kubernetes
        role: secret-reader
        serviceAccount:
          name: default
      name: root-secret
      path: matomo-mariadb/data/root
    - authentication:
        path: kubernetes
        role: secret-reader
        serviceAccount:
          name: default
      name: user-secret
      path: matomo-mariadb/data/user

  output:
    name: mariadb-config
    stringData:
      MYSQL_ROOT_PASSWORD: '{{ .root-secret.password }}'
      MYSQL_PASSWORD: '{{ .user-secret.password }}'
    type: Opaque
    labels:
      app: matomo
