apiVersion: redhatcop.redhat.io/v1alpha1
kind: VaultSecret
metadata:
  name: grav-vault-files
spec:
  refreshPeriod: 1h
  vaultSecretDefinitions:
    - authentication:
        path: kubernetes
        role: secret-reader
        serviceAccount:
          name: default
      name: git
      path: github/token/{{ deployment_prefix }}-grav
    - authentication:
        path: kubernetes
        role: secret-reader
        serviceAccount:
          name: default
      name: admin
      path: kv/data/{{namespace}}/default/grav/{{ deployment_prefix }}-grav-init-pwd
    - authentication:
        path: kubernetes
        role: secret-reader
        serviceAccount:
          name: default
      name: sre
      path: kv/data/{{namespace}}/default/grav/{{ deployment_prefix }}-grav-sre-pwd
    - authentication:
        path: kubernetes
        role: secret-reader
        serviceAccount:
          name: default
      name: grav
      path: kv/data/{{namespace}}/default/grav/{{ deployment_prefix }}-grav-salt
  output:
    name: {{ deployment_prefix }}-grav-vault-files
    stringData:
      gitsync: |
        enabled: true
        folders:
          - pages
          - plugins
          - themes
          - config
        SyncNotice: null
        sync:
          on_save: true
          on_delete: true
          on_media: true
          cron_enable: true
          cron_at: '*/10 * * * *'
        local_repository: null
        repository: '{{repo_url}}'
        no_user: '0'
        user: x-access-token
        password: "{{'{{ .git.token }}'}}"
        webhook_enabled: '1'
        webhook: '/_git_webhook'
        branch: main
        remote:
          name: origin
          branch: main
        git:
          author: gitsync
          message: '(Grav GitSync) Automatic Commit'
          name: GitSync
          email: git-sync@trilby.media
          bin: git
          ignore: null
          private_key: null
        logging: true
      admin_pwd: |
        state: enabled
        email: admin@{{hostname}}
        username: admin
        fullname: admin
        title: Administrator
        access:
          admin:
            login: true
            super: true
          site:
            login: true
        password: "{{'{{ .admin.password }}'}}"
      sre_pwd: |
        state: enabled
        email: sre@cedille.club
        username: sre
        fullname: SRE
        title: SRE
        access:
          admin:
            login: true
            super: true
          site:
            login: true
        password: "{{'{{ .sre.password }}'}}"
      salt: |
        salt: "{{'{{ .grav.salt }}'}}"
    type: Opaque
