# Sample values to configure Forgejo with external Postgres (CNPG) and Valkey cache

service:
  ssh:
    type: LoadBalancer
    annotations:
      metallb.io/allow-shared-ip: "shared-sharedmain-ip"
ingress:
  enabled: false

gitea:
  admin:
    existingSecret: forgejo-admin-secret
    email: forgejo@etsmtl.club
  config:
    server:
      SSH_DOMAIN: git.etsmtl.club
      ROOT_URL: https://git.etsmtl.club/
    service:
      DISABLE_REGISTRATION: true
      DEFAULT_ALLOW_CREATE_ORGANIZATION: false
    oauth2_client:
      ENABLE_AUTO_REGISTRATION: true
      OPENID_CONNECT_SCOPES: "openid profile forgejo email offline_access"
      USERNAME: nickname
      ACCOUNT_LINKING: login
      UPDATE_AVATAR: true
    oauth:
    - name: 'Authentik'
      provider: 'openidConnect'
      autoDiscoverUrl: 'https://auth.etsmtl.club/application/o/forgejo/.well-known/openid-configuration'
      existingSecret: forgejo-oauth-secret
    repository:
      DEFAULT_BRANCH: main
      MAX_CREATION_LIMIT: 0
      GO_GET_CLONE_URL_PROTOCOL: ssh
      ALLOW_FORK_WITHOUT_MAXIMUM_LIMIT: false
    cache:
      ADAPTER: redis
      HOST: redis://forgejo-cache-valkey.forgejo.svc.cluster.local:6379/0
    session:
      PROVIDER: redis
      PROVIDER_CONFIG: redis://forgejo-cache-valkey.forgejo.svc.cluster.local:6379/1
    queue:
      TYPE: redis
      CONN_STR: redis://forgejo-cache-valkey.forgejo.svc.cluster.local:6379/2
    database:
      DB_TYPE: postgres
      HOST: postgresql-forgejo-rw.forgejo.svc.cluster.local:5432
      NAME: forgejo
      USER: forgejo
      PASSWD: change-me-strong-password-123-!

persistence:
  enabled: true
