# Number of Valkey pods to run
replicaCount: 3

image:
  # Valkey Docker image to use
  repository: valkey/valkey
  # Image pull policy (Always, IfNotPresent, Never)
  pullPolicy: IfNotPresent
  # Image tag (leave empty to use .Chart.AppVersion)
  tag: ""

# List of image pull secrets (for private registries)
imagePullSecrets: []

# Override the default name or full name of resources
nameOverride: ""
fullnameOverride: ""

serviceAccount:
  # Create a service account for Valkey
  create: true
  # Whether to automount the service account token
  automount: false
  # Annotations to add to the service account
  annotations: {}
  # Name of an existing service account to use (if create: false)
  name: ""

# Security context for the pod (applies to all containers)
podSecurityContext:
  fsGroup: 1000
  runAsUser: 1000
  runAsGroup: 1000

# Security context for the Valkey containers
securityContext:
  capabilities:
    drop:
      - ALL
  readOnlyRootFilesystem: true
  runAsNonRoot: true
  runAsUser: 1000

service:
  # Type of Kubernetes service (ClusterIP, NodePort, LoadBalancer)
  type: ClusterIP
  # Port on which Valkey will be exposed
  port: 6379

# Network policy to control traffic to the pods
# More info: https://kubernetes.io/docs/concepts/services-networking/network-policies/
networkPolicy: {}


# TODO USE CEPHFS
# Persistent storage configuration
dataStorage:
  # Enable persistent volume claim creation
  enabled: true
  # Use existing PVC by name (skip dynamic provisioning if set)
  persistentVolumeClaimName: ""
  # Name of the volume (referenced in deployment)
  volumeName: "valkey-data"
  # Request size (e.g. 5Gi) for dynamically provisioned volume
  requestedSize: "5Gi"
  # Name of the storage class to use
  className: ""
  # Access modes for the PVC (e.g., ReadWriteOnce, ReadWriteMany)
  accessModes:
    - ReadWriteOnce
  # If true, keep the PVC on Helm uninstall
  keepPvc: true
  # Optional annotations to add to the PVC
  annotations: {}
  # Optional labels to add to the PVC
  labels: {}

auth:
  # Enable ACL-based authentication
  enabled: false

# Valkey logging level: debug, verbose, notice, warning
valkeyLogLevel: "notice"

metrics:
  # Enable Prometheus exporter sidecar
  enabled: false

  exporter:
    # Additional secrets to mount for metrics exporter
    extraExporterSecrets: []
