apiVersion: redhatcop.redhat.io/v1alpha1
kind: VaultSecret
metadata:
  name: matomo-mariadb-sync
  namespace: matomo
spec:
  refreshPeriod: 1h
  vaultSecretDefinitions:
    - authentication:
        path: kubernetes
        role: secret-reader
        serviceAccount:
          name: default
      name: root-secret
      path: matomo-mariadb/data/root
    - authentication:
        path: kubernetes
        role: secret-reader
        serviceAccount:
          name: default
      name: replication-secret
      path: matomo-mariadb/data/replication
    - authentication:
        path: kubernetes
        role: secret-reader
        serviceAccount:
          name: default
      name: user-secret
      path: matomo-mariadb/data/user

  output:
    name: mariadb-config
    stringData:
      mariadb-root-password: '{{ .root-secret.password }}'
      mariadb-replication-password: '{{ .replication-secret.password }}'
      mariadb-password: '{{ .user-secret.password }}'
    type: Opaque
    labels:
      app: matomo
